#home-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-carousel-container {
    width: 70%;
    margin-bottom: 20px;
}

.home-carousel-slide {
    position: relative;
}

.home-carousel-image {
    width: 100%;
    height: auto;
}

#home-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.home-button-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    justify-content: space-between;
}

.home-play-button {
    font-size: 2em;
    color: #9b59b6;
    cursor: pointer;
}

.home-date,
.home-title {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home-anecdote-button {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}