/* Estilos generales */
.container {
    margin: 20px;
}

/* Estilos del formulario */
.form-container {
    background-color: #FFF7EB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Estilos de la tabla */
.nota-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.nota-table th, .nota-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.empty-state {
    text-align: center;
    color: #BFBBB8;
}
