/* Estilos generales para la barra de navegación */
.cont-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f4f4;
    color: #DD901C;
}

/* Estilo del logo */
.logo {
    margin: 10px;
    height: 70px; /* Ajusta esto según el tamaño de tu logo */
}

/* Contenedor de los enlaces */
.cont-link {
    display: flex;
}

/* Estilo de los enlaces */
.link {
    color: #DD901C;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #8C6E5D;
    color: #e7e7e7;
}

/* Estilos para la información del usuario */
.user-name, .user-email {
    margin: 0;
    padding: 0;
}

.user-name {
    font-size: 1.2em;
    font-weight: bold;
}

.user-email {
    font-size: 0.9em;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .cont-navbar {
        flex-direction: column;
    }

    .cont-link {
        flex-direction: column;
        align-items: center;
    }

    .link {
        margin: 5px 0;
    }
}

.navbar-button{
    display: flex;
    gap: 10px;
}
.logout-button{
    background-color: white;
    color: #DD901C;
    border: 2px solid #DD901C;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.logout-button:hover{
    background-color: #DD901C;
    color: white;
}