.card-media{
    padding: 20px;
    display: flex;
    background-color: #f0f0f0;
    color: #4c4c4c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    width: 100%; /* Se adapta al ancho disponible */
    max-width: 900px; /* Ancho máximo de la tarjeta */
    height: auto; /* Altura automática para mantener la proporción */
    overflow: hidden;
    text-align: left;
}

.cont-media{
    display: flex;
    flex-wrap: column;
    justify-content: space-around;
    padding: 20px;
}